@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #050505; /* Aproape negru pur */
    color: #e4e4e7; /* Zinc 200 */
    min-width: 1024px;
    overflow-x: auto;
}

/* Dark Scrollbar - High Contrast */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #09090b; 
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #27272a; /* Zinc 800 */
    border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3f3f46; /* Zinc 700 */
}